.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
  }
}

.scrollbar {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

body {
  background-color: rgba(0, 0, 0, 0);
}

#app {
  @extend .hide-scrollbar;

  position: fixed;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--main-bg-color);
  overflow: hidden;
}
